@import "colors.css";

body {
    color: var(--text-main);
    background: var(--bg-main);

    font-family: Helvetica;
    font-size: 14pt;

    width: 100vw;
    min-height: 100vh;
    margin: 0;


    transition: color 0.3s, background 0.3s;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 10pt;
    padding-bottom: 10pt;
}

#top-bar {
    padding: 10pt;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--text-main);
}

button {
    
    background-color: var(--bg-main);
    border-color: var(--text-main);
    color: var(--text-main);
    
    border: solid; 
    border-width: 2px;
    border-radius: 6px;
    padding: 8px;

    appearance: none;
}

button:hover {
    border-color: var(--accent);
    color: var(--accent);
}

button:active {
    background-color: var(--text-main);
    color: var(--bg-main);
}

li {
    list-style: circle;
}

#greeting {
  color: var(--accent);
}